html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.hero-text {
    letter-spacing: -0.15rem;
}

.headings {
    letter-spacing: -0.07rem;
}

.hero-section {
    min-height: 60vh;
}

.sub-heading {
    letter-spacing: 0.1rem;
}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.background-image {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-image {
    background-size: cover;
}

.fa-bars {
    transition: transform 1s;
}

.fa-bars:hover {
    transform: scale(1.2);
}

.chart-container {
    position: relative;
    margin: auto;
    max-width: 40vw;
    min-width: 10vw;
    max-height: 100vh;
}
