html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.hero-text {
    letter-spacing: -0.15rem;
}

.headings {
    letter-spacing: -0.07rem;
}

.hero-section {
    min-height: 60vh;
}

.sub-heading {
    letter-spacing: 0.1rem;
}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.background-image {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-image {
    background-size: cover;
}

.fa-bars {
    transition: transform 1s;
}

.fa-bars:hover {
    transform: scale(1.2);
}

.chart-container {
    position: relative;
    margin: auto;
    max-width: 70vw;
    max-height: 100%;
}

@media screen and (min-width: 24rem) {
    .chart-container {
        max-width: 50vw;
    }
}

@media screen and (min-width: 30rem) {
    .chart-container {
        max-width: 80vw;
    }
}

@media screen and (min-width: 48rem) {
    .chart-container {
        max-width: 50vw;
    }
}

@media screen and (min-width: 62rem) {
    .chart-container {
        max-width: 30vw;
    }
}

.react-datepicker {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    overflow: hidden;
  }
  
  .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 90px;
  }
  
  .react-datepicker__navigation--previous,
  .react-datepicker__navigation--next {
    height: 40px;
    display: none;
  }
  
  .react-datepicker__day--outside-month {
    pointer-events: none;
    color: white;
  }

  .react-datepicker__navigation--previous {
    border-right-color: #cbd5e0;
  
    &:hover {
      border-right-color: #a0aec0;
    }
  }
  
  .react-datepicker__navigation--next {
    border-left-color: #cbd5e0;
  
    &:hover {
      border-left-color: #a0aec0;
    }
  }
  
  .react-datepicker-wrapper,
  .react-datepicker__input-container {
    display: block;
  }
  
  .react-datepicker__header {
    border-radius: 0;
    background: #f7fafc;
  }
  
  .react-datepicker,
  .react-datepicker__header,
  .react-datepicker__time-container {
    border-color: #e2e8f0;
  }
  
  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header {
    font-size: inherit;
    font-weight: 600;
  }
  
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    margin: 0 1px 0 0;
    height: auto;
    padding: 7px 10px;
  
    &:hover {
      background: #edf2f7;
    }
  }
  
  .react-datepicker__day:hover {
    background: #edf2f7;
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background: #3182ce;
    font-weight: normal;
  
    &:hover {
      background: #2a69ac;
    }
  }